<div>
  <input (click)="openModal()" readonly class="input-date" type="text" placeholder="YYYY-MM-DD"
    [ngModel]="currentDate | date: 'yyyy-MM-dd'">
</div>

<div *ngIf="showDatePicker" class="rolldate-container">
  <div class="rolldate-mask" (click)="closeModal()"></div>
  <div class="rolldate-content flex-column">
    <div class="rolldate-header flex-row justify-space-between">
      <div class="arrow-container flex-row justify-center align-items-center">
        <span class="left-arrow" (click)="scrollUp()"></span>
        <span class="right-arrow" (click)="scrollDown()"></span>
      </div>
      <span class="flex-column justify-center rolldate-confirm" (click)="submitModal()">
        Done
      </span>
    </div>
    <div class="rolldate-picker">
      <div class="picker-window"></div>
      <ul class="picker-day" (scroll)="onScroll($event)">
        <li *ngFor="let date of dateList; let i = index" [attr.data-index]="i" (click)="scrollToElement(i)">
          {{ date | customDatePipe }}
        </li>
      </ul>
    </div>
  </div>
</div>
